@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@*     <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <div class="image-grid">
        <div class="image-item">
            <a href="~/Transaction">
                <img src="~/Pictures/Inventories.PNG" alt="Image 1">
            </a>
            <p>Product Inventories</p>
        </div>
        <div class="image-item">
            <a href="https://example.com/link2">
                <img src="~/Pictures/Transactions.PNG" alt="Image 2">
            </a>
            <p>Purchase Orders</p>
        </div>

        <div class="image-item">
            <a href="https://example.com/link3">
                <img src="~/Pictures/Products.PNG" alt="Image 3">
            </a>
            <p>Products</p>
        </div>
        <div class="image-item">
            <a href="https://example.com/link4">
                <img src="~/Pictures/Stores.PNG" alt="Image 4">
            </a>
            <p>Stores</p>
        </div>

        <div class="image-item">
            <a href="https://example.com/link5">
                <img src="~/Pictures/image5.jpg" alt="Image 5">
            </a>
            <p>Image 5 description</p>
        </div>
        <div class="image-item">
            <a href="https://example.com/link6">
                <img src="~/Pictures/image6.jpg" alt="Image 6">
            </a>
            <p>Image 6 description</p>
        </div>
    </div>
</div>
