@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@*     <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <div class="image-grid">
        <div class="image-item">
            <a href="~/Inventory">
                <img src="~/Pictures/Inventories.PNG" alt="Product Inventories">
            </a>
            <p>Product Inventories</p>
        </div>
        <div class="image-item">
            <a href="~/Transaction">
                <img src="~/Pictures/Transactions.PNG" alt="Purchase Orders">
            </a>
            <p>Purchase Orders</p>
        </div>

        <div class="image-item">
            <a href="~/Products">
                <img src="~/Pictures/Products.PNG" alt="Products">
            </a>
            <p>Products</p>
        </div>
        <div class="image-item">
            <a href="~/Store">
                <img src="~/Pictures/Stores.PNG" alt="Stores">
            </a>
            <p>Stores</p>
        </div>

        <div class="image-item">  
            <a href="~/Suppliers">
                <img src="~/Pictures/Suppliers.PNG" alt="Suppliers">
            </a>
            <p>Suppliers</p>
        </div>
        <div class="image-item">
            <a href="~/Customer">
                <img src="~/Pictures/Customers.PNG" alt="Customers">
            </a>
            <p>Customers</p>
        </div>

        <div class="image-item">
            <a href="~/">
                <img src="~/Pictures/Purchase.PNG" alt="Purchase">
            </a>
            <p>Purchases</p>
        </div>
        <div class="image-item">
            <a href="~/SalesPerformanceMonthly">
                <img src="~/Pictures/Sales.PNG" alt="Sales">
            </a>
            <p>Sales Performance</p>
        </div>
    </div>
</div>
